extend ../_layout

block content
    if error
        if error=="UserExists"
            span The username is taken
    form(action="/auth/register" method="POST")
        label
            | Username:
            input(name="username")
        label
            | Password:
            input(name="password")
        button.btn
            | Register