extends ../_layout

block content
    form(action="/books" method="POST")
        label
            | Title:
            input(name="title")
        label
            | Description:
            input(name="description")
        label
            | imgUrl:
            input(name="imgUrl")
        button
            | SaveÏ
        