extends ../_layout

block content
    form(action="/books" method="POST")
        .form-group
            label
                | Title:
                input(name="title")
        .form-group
            label
                | Description:
                textarea(name="description")
        .form-group
            label
                | imgUrl:
                input(name="imgUrl")
        button
            | SaveÏ
        