mixin nav 
    .nav
        ul
            li
                a(href="/") 
                    | Home
            li
                a(href="/books/add")
                    | Add Book
            if user
                li
                    a(href="/profile")
                        =user.username
                li
                    form(action="/auth/logout" method="POST")
                        button
                            | Logout
            else 
                li
                    a(href="/auth/register")
                        | Register
                li
                    a(href="/auth/login")
                        | Login