.nav {
    background-color: #eeeeee;

    ul {
        margin: 0;
        padding: 0;
        
        li {
            display: inline-block;
            border-left: 1px solid #ccc;
            
            a
            button {
                display: inline-block;
                padding: 5px 15px;
                background: none;
                border: 0;
                color: black;
                text-decoration: none

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

.book-item {
    img {
        height: 50px
    }
}